.cart {
    position: relative;

    &__img {
    }

    &__couter {
        position: absolute;
        top: 3px;
        right: -6px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 20px;
        height: 25.5px;

        border-radius: 50%;
        background-color: var(--accent);
    }
}
