.footer {
    padding: clamp(50px, 1.911rem + 6.07vw, 118px) 0 clamp(20px, 0.607rem + 3.21vw, 56px);

    color: var(--white-muted);
    background-color: var(--footer-bg);

    &__columns {
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
        gap: 20px;

        margin-bottom: 118px;

        @include tablet {
            grid-template-columns: 4fr 1fr 3fr 3fr;
        }

        @include mobile-xl {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 60px;
        }
    }

    &__desc {
        @include mobile-xl {
            grid-column: 1/3;
        }
    }

    &__logo {
        margin-bottom: 30px;

        @include mobile-l {
            margin-bottom: 15px;
        }
    }

    &__text {
        font-size: 15px;
        line-height: 1.6;
    }

    &__nav {
        &:nth-child(2) {
            grid-column-start: 3;
            @include mobile-xl {
                grid-column-start: auto;
            }
        }
    }

    &__nav-list {
        display: grid;
        gap: 16px;

        line-height: 1.6;
    }

    &__nav-title {
        color: var(--accent);
        letter-spacing: -0.23px;
        margin-bottom: 20px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: var(--font-footer-accent);
        color: var(--white-half-transparent);
        font-size: 15px;
        letter-spacing: -0.2px;

        @include mobile-xl {
            flex-direction: column-reverse;
            align-items: center;
            gap: 10px;
        }
    }

    &__agreement {
        display: flex;
        gap: 40px;
    }
}
