.footer {
    padding: 118px 56px;

    color: var(--white-muted);
    background-color: var(--footer-bg);

    &__columns {
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
        gap: 20px;

        margin-bottom: 118px;
    }

    &__desc {
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__text {
        font-size: 15px;
        line-height: 1.6;
    }

    &__nav {
        &:nth-child(2) {
            grid-column-start: 3;
        }
    }

    &__nav-list {
        display: grid;
        gap: 16px;

        line-height: 1.6;
    }

    &__nav-title {
        color: var(--accent);
        letter-spacing: -0.23px;
        margin-bottom: 20px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: var(--font-footer-accent);
        color: var(--white-half-transparent);
        font-size: 15px;
        letter-spacing: -0.2px;
    }

    &__agreement {
        display: flex;
        gap: 40px;
    }
}
