.header {
    position: relative;

    color: var(--header-text-color);

    background-color: black;
    // background-image: url('./../img/header/header-bg.jpg');

    background-position: center center;
    background-repeat: no-repeat;
    aspect-ratio: 1920/1080;

    &__nav {
        padding-top: 40px;
        margin-bottom: 92px;
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    &__title {
        font-size: clamp(44px, 2.107rem + 3.21vw, 80px);
        font-weight: 700;
        line-height: 1.3;
        text-transform: capitalize;

        margin-bottom: 14px;
    }

    &__text {
        max-width: 606px;
        margin-bottom: 45px;

        font-size: 24px;
        line-height: 1.6;
        color: var(--white-muted);
    }

    &__search {
        padding: 8px 8px 8px 20px;
    }

    &__dot-vase {
        position: absolute;
        top: 743px;
        left: 103px;
    }

    &__dot-sofa {
        position: absolute;
        top: 666px;
        left: 277px;
    }
    &__dot-statue {
        position: absolute;
        top: 777px;
        right: 608px;
    }
    &__dot-wall {
        position: absolute;
        top: 809px;
        right: 34px;
    }

    &__tooltip {
    }
}
