.products {
    // text-align: center;
    background-color: var(--products-bg);
    &__content {
        padding: 50px 0;
    }

    &__title {
        font-weight: 700;
        font-size: clamp(22px, 1.018rem + 1.79vw, 42px);

        margin-bottom: 42px;
    }

    &__tabs {
    }

    &__slider {
    }

    &__card {
    }
}
