.slider {
    position: relative;
    &__btn-prev {
        left: 0;
        transform: translate(-50%, -50%);
    }
    &__btn-next {
        right: 0;
        transform: translate(50%, -50%);
    }

    &__btn-prev,
    &__btn-next {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        z-index: 1;
        top: 50%;

        width: 50px;
        height: 50px;

        border-radius: 50%;
        background-color: var(--white-color);
    }
}
