.tabs {
    display: inline-flex;
    padding: 8px;
    border-radius: 44px;
    background-color: var(--tabs-bg);
    &__btn {
        padding: 7px 20px;
        border-radius: 32px;

        @include mobile-l {
            padding: 5px 10px;
        }

        &:hover {
            background-color: var(--white-half-transparent);
        }

        &--active {
            background-color: var(--white-color);
            &:focus {
                background-color: var(--white-color);
            }
        }
    }
}
