html,
body {
    font-family: var(--font-main);
    color: var(--text-color);
}

a {
    color: currentColor;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;

    &--small {
        max-width: 1094px;
    }
}

.none {
    display: none !important;
}
