:root {
    --font-main: 'Gilroy', sans-serif;
    --font-card: 'Inter', sans-serif;
    --font-footer-accent: 'DM Sans', sans-serif;

    --text-color: #1e1e1e;
    --text-color-muted-primary: rgba(30, 30, 30, 0.8);
    --text-color-muted-secondary: rgba(30, 30, 30, 0.9);

    --accent: #e58411;
    --white-color: #fff;
    --white-muted: rgba(255, 255, 255, 0.8);
    --white-half-transparent: rgba(255, 255, 255, 0.5);

    --header-text-color: #ffffff;

    --search-border-color: rgba(255, 255, 255, 0.6);
    --search-bg-color: rgba(255, 255, 255, 0.15);

    --products-bg: #f7f7f7;

    --tabs-bg: #eeeeee;

    --footer-bg: #2d2f33;

    --card-bg: #fafafa;

    --dot-border-color: rgba(255, 255, 255, 0.6);
    --dot-bg-color: rgba(255, 255, 255, 0.2);

    --ui-orange-color: #e58411;
    --ui-aquamarine-color: #00d6c9;
    --ui-grey-color: #7c7c7c;
    --ui-lightgrey-color: #8d8d8d;
    --ui-darkblue-color: #0d1b39;
}
