:root {
    --font-main: 'Gilroy', sans-serif;
    --font-card: 'Inter', sans-serif;
    --font-footer-accent: 'DM Sans', sans-serif;

    --text-color: #1e1e1e;

    --accent: #e58411;
    --white-muted: rgba(255, 255, 255, 0.8);
    --white-half-transparent: rgba(255, 255, 255, 0.5);

    --header-text-color: #ffffff;

    --footer-bg: #2d2f33;

    --card-bg: #fafafa;

    --ui-orange-color: #e58411;
    --ui-auqamarine-color: #00d6c9;
    --ui-grey-color: #7c7c7c;
    --ui-lightgrey-color: #8d8d8d;
    --ui-darkblue-color: #0d1b39;
}
